/** @format */

.header {
  /* background-color: var(--color-grey-dark-1); */
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 4rem 6rem;

  display: grid;
  grid-template-rows: 1fr min-content max-content 1fr;
  grid-template-columns: max-content;
  justify-content: center;

  row-gap: 1rem;
}

.header h1 {
  font-size: 4.5rem;
  font-family: var(--font-display);
  font-weight: 400;
  color: #fff;
}

.header h3 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-primary);
  justify-self: start;
}

.text {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-grey-light-1);

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.text::before,
.text::after {
  content: "";
  height: 1px;
  background-color: currentColor;
}

.logo {
  height: 3rem;
  justify-self: center;
}

.img {
  height: 2.5rem;
  filter: brightness(0.7);
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
